# Initial Comment: Student Information Dashboard repository file.
# Backend environment variables
PORT=4000
CORS_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://israfil:1508@cluster0.mi7tvyl.mongodb.net/scholarship_management?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=scholarship_management
MONGODB_COLLECTION=app_state
